@use "../../../utils";

.message {
    &__rolled {
        &__dice {
            color: utils.$primary-color;
        }
    }

    &__lost {
        color: utils.$danger-color;
    }

    &__over {
        color: utils.$warning-color;
    }

    &__sidebet-proposed,
    &__sidebet-accepted {
        color: #a78bfa;

        .sidebet-amount {
            color: #fbbf24;
            font-weight: 600;
        }
    }

    &__sidebet-accepted {
        color: #22c55e;
    }
}
