.standings {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.9rem;

    max-width: 120px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem 0;
        border-bottom: 1px solid #dddddd66;

        &:last-child {
            border-bottom: none;
        }
    }
    .score {
        margin-left: 0.5rem;

        &.positive {
            color: #007bff;
        }
    }
}